[consul-server]
title=Consul Server(Consul, Default)
description=Consul Agent
ports={{ consul_dns_port }},{{ consul_api_port }},{{ consul_https_api_port }},{{ consul_grpc_port }},{{ consul_server_port }},{{ lan_serf_port }},{{ wan_serf_port }}/tcp|{{ consul_dns_port }},{{ consul_api_port }},{{ consul_https_api_port }},{{ consul_grpc_port }},{{ consul_server_port }},{{ lan_serf_port }},{{ wan_serf_port }}/udp
