
[Unit]
Requires=network-online.target
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
{% if consul_http_token is defined and consul_http_token | length > 0 %}
Environment=CONSUL_HTTP_TOKEN="{{ consul_http_token }}"
{% endif %}
ExecStart=/bin/bash /usr/local/bin/soil-entrypoint
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=60
StartLimitBurst=3
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
